---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="mx-12 my-8">
        <p class="text-5xl font-extrabold">Oops!!!</p>
        <p class="text-gray my-4">
          We sorry but the page you are looking for does not exist. Please check the
          URL or return to the <a href="/" class="text-primary">home page</a>.
        </p>
    </section> 
</Layout>
