<footer class="bg-black px-12">
    <div class=" ">
      <p>
        © <span id="current-year"></span> SmartDesk Robotics. All Rights Reserved.
      </p>
      <div class="footer-links">
        <a href="/privacypolicy">Privacy Policy</a> | <a href="/termsofservice">Terms of Service</a> 
      </div>
    </div>
  </footer>