<header class="py-6 text-base mx-12 text-white ">
  <!-- Desktop -->
  <div class="md:flex justify-between hidden align-middle items-center">
    <div class="flex flex-row items-center gap-4">
      <a href="/"
        ><img
          src="/favicon.svg"
          width="55px"
          class="fill-primary"
          alt="logo"
        /></a
      >
      <h1 class="text-primary font-semibold text-xl flex flex-col leading-6">
        <span>SmartDesk</span>
        <span>Robotics</span>
      </h1>
    </div>
    <nav class="item-center align-middle">
      <ul class="flex flex-row gap-8">
        <li><a href="/products">Products</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/developers">Developers</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <div>
      <a href="#products" class="btn-secondary">Explore Now</a>
    </div>
  </div>
  <!-- Mobile header -->
  <div class="md:hidden flex justify-between">
    <div class="logo">
      <a href="/"
        ><img src="/favicon.svg" width="100px" height="50%" alt="logo" /></a
      >
    </div>
    <nav class="main-nav hidden">
      <ul>
        <li><a href="/products">Products</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/developers">Developers</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="p-2">
      <button>menu</button>
    </div>
  </div>
</header>
