---
import "../styles/global.css";
import Seo from "../components/Seo.astro";
import Header from "../components/header.astro";
import siteData from "../data/siteData.json";
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="var(--primary-color)" />
    <link rel="icon" href="/favicon.svg" />
    <title>{siteData.title}</title>
    <Seo {siteData} frontmatter="website" />
    <link rel="preload" href="/images/desktop.webp" as="image" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K2S3TT34EJ"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-K2S3TT34EJ");
    </script>
  </head>
  <body class="f">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
